#slider-wrapper {
    position: fixed;
    bottom: 20px;
    left: 100px;
    right: 50px;
}

#recorder {
    position: fixed;
    bottom: 15px;
    left: 40px;
}

a, a:hover, a:focus, a:visited {
    color: black;
}

#slider-wrapper .slider {
    width: 100%;
}
