#slider-wrapper {
    position: fixed;
    bottom: 20px;
    left: 100px;
    right: 50px;
}

#recorder {
    position: fixed;
    bottom: 20px;
    left: 50px;
}

#slider-wrapper .slider {
    width: 100%;
}
