body {
    font-family: 'Lato';
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-row {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

.audio-player {
    position: absolute;
    top: 50%;
}

.btn-col {
    padding: 0;
    padding-right: 15px;
}

.submit-btn {
    width: 100%;
}

#title {
    border-bottom-color: #5fccff;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding-bottom: 10px;
    display: inline-block;
    top: 10px;
    left: 50px;
    position: fixed;
    color: #5fccff;
}
