body {
    font-family: 'Lato';
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-row {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

.footer-col {
    padding-right: 0;
}

.current-time {
    text-align: center;
    font-size: 16px;
}

.sound-wave {
    height: 34px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px black;
    width: 100%;
}

.submit-btn {
    width: 100%;
}

#title {
    border-bottom-color: #5fccff;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding-bottom: 10px;
    display: inline-block;
    top: 10px;
    left: 50px;
    position: fixed;
    color: #5fccff;
}
